.container {
	display: flex;
	flex-direction: column;
	background: white;
	border-radius: 16px;
	box-shadow: 0 0 8px 0 rgba(0,0,0,0.04);
	margin: 0 auto;

	width: 512px;
	height: 768px;

	margin-top: 96px;
	margin-bottom: 32px;

	position: relative;
}

.head {
	padding: 30px 10px;
	text-align: center;
	border-bottom: 1px solid #e9ecef;
}
.head .title {
	margin: 0 auto;
}

section {
	width: 100%;
	height: 300px;
	padding: 10px;
	border: 1px burlywood solid;
}